html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
.v-application {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fbfaff;
  color: #1a1325;
}
